* {
  margin: 0;
  padding: 0;
}

.timer {
  text-align: center;
  height: 100vh;
}

.minutes {
  margin-right: 5vw;
}

.strong {
  font-size: 80vh;
}

.weak {
  font-size: 40vh;
}

.timer progress {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 10vh;
}
